<style>
{
    background:#101010;color:#fff;height:50px;line-height:50px;padding:0 20px;user-select:none;-webkit-user-select:none;text-align:center;
    [voice-play-ctrl]{cursor:pointer;float:left;}
    .setting-link{float:right;}
}
</style>

<div>
    <span if="soundNoticeable" voice-play-ctrl class="voiceplan-link">
        soundNotice:
        <span if="soundNotice">on</span>
        <span if="soundNotice|isFalse">off</span>
    </span>
    <span class="user_name" data-src="user_name"></span>
    <a setting-open-ctrl class="setting-link" href="javascript:;">setting</a>
</div>

<script src="../js/fakeServer.js" version="ENV.version"></script>
<script>
var data = {
    soundNotice: false,
    soundNoticeable: !!window.SpeechSynthesisUtterance,
    user_name: getUserById(window.CURRENT_USER_ID)['name']
};
update();

me.on('click','[voice-play-ctrl]',function(){
    update({
        soundNotice: !data.soundNotice
    })
}).on('click','[setting-open-ctrl]',function(){
    me.trigger('setting_open')
}).containerOn('new_msg',function(){
    data.soundNotice && window.speechSynthesis.speak(new SpeechSynthesisUtterance('New message!'));
})

function update(update_info){
    $.extend(data,update_info)
    me.render(data);
}
</script>